DEBUG=True
SECRET_KEY=django-insecure-change-me
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=

# Base de datos (local por defecto): sqlite
# DB_ENGINE=sqlite

# Si quieres usar MySQL, descomenta y completa:
# DB_ENGINE=mysql
# DB_NAME=financekids
# DB_USER=root
# DB_PASSWORD=
# DB_HOST=localhost
# DB_PORT=3306

# Production hardening (set in production env only)
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
