<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tema 2: Presupuesto - Finance Kids</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="fk-page fk-center-layout">
    <div class="fk-card fk-lesson">
        <h1 class="fk-title">💰 Tema 2: Presupuesto</h1>

        <p class="fk-subtitle">Un presupuesto es una herramienta que te ayuda a saber cuánto dinero tienes, cuánto gastas y cuánto puedes ahorrar. Aprender a hacerlo permite organizar mejor tu dinero y cumplir metas sin gastar de más.</p>

        <img src="https://media.tenor.com/5cqu6Luv51sAAAAi/buy-burn.gif" alt="Presupuesto">

        <div class="fk-actions-row">
            <a href="{% url 'juego2' %}" class="fk-btn">🎮 Ir al juego del tema 2</a>
        </div>
    </div>
</body>
</html>
